# Python
.venv/
__pycache__/
*.pyc
__init__.py

# Environment
.env
backend/.env

# Node
node_modules/
contracts/node_modules/

# Hardhat
contracts/artifacts/
contracts/cache/

# VS Code
.vscode/




backend/data/